@page "{id}"
@using Microsoft.AspNetCore.Html
@model BlogSite.Pages.Posts.DetailsModel
@{
    ViewData["Title"] = $"Post - {Model.Post.Title}";
}

<div id="post-details">

    <div id="post-header">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center position-relative pb-3 post-header-user">
                    <div class="flex-shrink-0">
                        @if (string.IsNullOrWhiteSpace(Model.Post.AppUser.ProfileUrl))
                        {
                            <img class="img-md rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" />
                        }
                        else
                        {
                            <img class="img-md rounded-circle" src="@Model.Post.AppUser.ProfileUrl" alt="Profile Picture" loading="lazy">
                        }
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <a href="/users/@Model.Post.AppUser.Id" class=" user-name">@Model.Post.AppUser.FullName</a>
                        <p class="text-muted m-0 post-details-created-date">@Model.Post.CreatedDate.ToString("dd/MM/yyyy")</p>
                    </div>
                    @if (User.Identity.IsAuthenticated && User.Claims.ToList().FirstOrDefault((c) => c.Type == "Id").Value == Model.Post.AppUserId)
                    {
                        <div id="post-actions">
                            <a  asp-page="Edit" asp-route-id="@Model.Post.Id">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a href="/Posts/Delete/@Model.Post.Id">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    }
                    <div id="listen-container">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="post-title-container">
        <h2>@Model.Post.Title</h2>
    </div>
    <div id="post-cover-container">
        <img src="@Model.Post.CoverImage" />
    </div>

    <div id="post-body">
        @(new HtmlString(Model.Post.Body))
    </div>
</div>