@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="search-results">
        @foreach (var post in Model.Posts)
        {
            <a class="card mb-3 post-card-container" href="/posts/details/@post.Id">
                <div class="card post-card">
                    <div class="card-body d-flex post-card-header">
                        <div class="icon-lg rounded-3 text-white">
                            <img class="post-card-user-image" src="@post.AppUser.ProfileUrl" />
                        </div>
                        <div class="ps-3">
                            <h5 class="h6 post-card-user-name">@post.AppUser.FullName</h5>
                            <p class="m-0 post-card-post-date">@post.CreatedDate.ToString("dd/mm/yyyy")</p>
                        </div>
                    </div>
                    <div class="card post-card-body" style="width: 18rem;">
                        <img src="@post.CoverImage" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@post.Title</h5>
                        </div>
                    </div>
                </div>

            </a>
        }
    </div>
    @if (Model.Posts.Count < 1)
    {
        <div class="alert alert-secondary" role="alert">
            No Posts Have been uploaded yet!
        </div>
    }
</div>
